{% extends "base.html" %}
{% block head %}
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <ol id="article_list">
    {% for article in articles %}
        <li>
            <a href="/article?article_id={{ article.content }}">{{ article.hn_title }}</a>
            &nbsp;&nbsp;(<a class="btn-link" href="{{ article.url }}">view original</a>)
        </li>
    {% endfor %}
    </ol>
  </div>
{% endblock %}
{% block script %}
    <script>
        var newArticleTemplate = _.template(
            "<a href=\"/article?article_id=<%= id %>\"><%= title %></a>&nbsp;&nbsp;(<a href=\"<%= url %>\">view original</a>)");

        onOpened = function() { console.log('opened'); }
        onMessage = function(message) {
          article = JSON.parse(message.data);

          var new_li = document.createElement('li');
          new_li.innerHTML = newArticleTemplate(article);

          var article_list = document.getElementById('article_list');
          article_list.insertBefore(new_li, article_list.firstChild);
        }
        onError = function(error) { console.log('error'); }
        onClose = function() { console.log('closed'); }
        channel = new goog.appengine.Channel('{{ token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>
{% endblock %}
